body{
    background-image: url("dark_wood.png");
}

p{
    color: white;
    font-weight: bold;
    font-family: "Arial";

}

h3{
    background-color: #8E41D5;
    color: #FFBC00;
    font-size: 40px;
    font-family:"Passion One";
    bottom-margin: 0px;
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

li{

}

#Header{
    background-color: #8E41D5;
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;


}

#Header h1{
    background-color: #8E41D5;
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold;

}

ul (
    list-style-type: none;
    font-weight: bold;
    font-size: 24px;
)

#LeftNav{
    background-color: #8E41D5;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;  
    padding-bottom: 8px;
    float: left;

}

#LeftNav img(

)

#LeftNav ul{

}

#LeftNav h3{

}


#Content{
    background-color: #8E41D5;
    border: Solid 8px black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;

}

#Footer{
    background-color: #8E41D5;
    text-align: center;

}